<nav>
    <a href="./index.html" class="nav_link">
        <div class="in_nav" id="nav_selected_line">
            <p class="nav_text" id="nav_selected_text">favourites</p>
        </div>
    </a>

    <a href="./trending.html" class="nav_link">
        <div class="in_nav">
            <p class="nav_text">TRENDING</p>
        </div>
    </a>

    <a href="./map.html" class="nav_link">
        <div class="in_nav">
            <p class="nav_text">MAP</p>
        </div>
    </a>
</nav>

<div class="lower">
    <div class="container">
        <div class="container2">
            <div class="ruta" id="one_one">
                <div class="text_box">
                    <div class="text_container">
                        <p class="city_name">Göteborg</p>
                    </div>
                    <div class="text_container">
                        <div class="star"><img src="./img/star.png"></div>
                    </div>
                </div>
            </div>
            <div class="ruta" id="one_two">
                <div class="text_box">
                    <div class="text_container">
                        <p class="city_name">Tokyo</p>
                    </div>
                    <div class="text_container">
                        <div class="star"><img src="./img/star.png"></div>
                    </div>
                </div>
            </div>
            <div class="ruta" id="one_three">
                <div class="text_box">
                    <div class="text_container">
                        <p class="city_name">Venedig</p>
                    </div>
                    <div class="text_container">
                        <div class="star"><img src="./img/star.png"></div>
                    </div>
                </div>
            </div>
            <div class="ruta" id="one_four">
                <div class="text_box">
                    <div class="text_container">
                        <p class="city_name">Göteborg</p>
                    </div>
                    <div class="text_container">
                        <div class="star"><img src="./img/star.png"></div>
                    </div>
                </div>
            </div>
            <div class="ruta" id="one_five">
                <div class="text_box">
                    <div class="text_container">
                        <p class="city_name">Göteborg</p>
                    </div>
                    <div class="text_container">
                        <div class="star"><img src="./img/star.png"></div>
                    </div>
                </div>
            </div>
            <div class="ruta" id="one_six">
                <div class="text_box">
                    <div class="text_container">
                        <p class="city_name">Göteborg</p>
                    </div>
                    <div class="text_container">
                        <div class="star"><img src="./img/star.png"></div>
                    </div>
                </div>
            </div>
            <div class="ruta" id="one_seven">
                <div class="text_box">
                    <div class="text_container">
                        <p class="city_name">Göteborg</p>
                    </div>
                    <div class="text_container">
                        <div class="star"><img src="./img/star.png"></div>
                    </div>
                </div>
            </div>
            <div class="ruta" id="one_eight">
                <div class="text_box">
                    <div class="text_container">
                        <p class="city_name">Göteborg</p>
                    </div>
                    <div class="text_container">
                        <div class="star"><img src="./img/star.png"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="container2">
            <div class="ruta" id="two_one">
                <div class="text_box">
                    <div class="text_container">
                        <p class="city_name">New York</p>
                    </div>
                    <div class="text_container">
                        <div class="star"><img src="./img/star.png"></div>
                    </div>
                </div>
            </div>
            <div class="ruta" id="two_two">
                <div class="text_box">
                    <div class="text_container">
                        <p class="city_name">Amsterdam</p>
                    </div>
                    <div class="text_container">
                        <div class="star"><img src="./img/star.png"></div>
                    </div>
                </div>
            </div>
            <div class="ruta" id="two_three">
                <div class="text_box">
                    <div class="text_container">
                        <p class="city_name">Prag</p>
                    </div>
                    <div class="text_container">
                        <div class="star"><img src="./img/star.png"></div>
                    </div>
                </div>
            </div>
            <div class="ruta" id="two_four">
                <div class="text_box">
                    <div class="text_container">
                        <p class="city_name">Göteborg</p>
                    </div>
                    <div class="text_container">
                        <div class="star"><img src="./img/star.png"></div>
                    </div>
                </div>
            </div>
            <div class="ruta" id="two_five">
                <div class="text_box">
                    <div class="text_container">
                        <p class="city_name">Göteborg</p>
                    </div>
                    <div class="text_container">
                        <div class="star"><img src="./img/star.png"></div>
                    </div>
                </div>
            </div>
            <div class="ruta" id="two_six">
                <div class="text_box">
                    <div class="text_container">
                        <p class="city_name">Göteborg</p>
                    </div>
                    <div class="text_container">
                        <div class="star"><img src="./img/star.png"></div>
                    </div>
                </div>
            </div>
            <div class="ruta" id="two_seven">
                <div class="text_box">
                    <div class="text_container">
                        <p class="city_name">Göteborg</p>
                    </div>
                    <div class="text_container">
                        <div class="star"><img src="./img/star.png"></div>
                    </div>
                </div>
            </div>
            <div class="ruta" id="two_eight">
                <div class="text_box">
                    <div class="text_container">
                        <p class="city_name">Göteborg</p>
                    </div>
                    <div class="text_container">
                        <div class="star"><img src="./img/star.png"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
