<nav>

  <a href="./index.html" class="nav_link">
    <div class="in_nav">
    <p class="nav_text">FAVOURITES</p>
    </div>
  </a>

  <a href="./trending.html" class="nav_link">
    <div class="in_nav" id="nav_selected_line">
    <p class="nav_text" id="nav_selected_text">TRENDING</p>
    </div>
  </a>

  <a href="./map.html" class="nav_link">
    <div class="in_nav">
    <p class="nav_text">MAP</p>
    </div>
  </a>

</nav>
